body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial, sans-serif;
}

h1 {
    color: darkblue;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px gray;
    max-height: 500px;
    overflow: auto;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: blue;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0,0.1);
    
}

.remover {
    background-color: crimson;
    width: auto;
    padding: 5px 10px;
}

li:hover {
    transform: scale(1.02);
}