body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: darkblue;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: blue;
}